.layout {
  height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  padding: $spacing-xl 0;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.main {
  max-width: 1024px;
  width: 100%;
  height: calc(100vh - (#{$spacing-xl} * 2));
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  overflow: hidden;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.container {
  flex: 1;
  padding: $spacing-lg;
  overflow-y: auto;
  
  @media (max-width: $mobile) {
    padding: $spacing-md;
  }
} 